---
layout: compress
---
<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
{% include gnbhead.html %}
 <div class="search-content">
	{% include search_form.html %}
</div>
<div id="container" style="text-align: left;">
{% assign sorted_pages = site.pages | sort:"order" %}
{% for page in sorted_pages %}
	  {% if forloop.index <= 50 %}
	  	{% if page.img != null %} 			
			<div class="section">
				<div class="figure">
			    	<a href="{{ site.url }}{{ page.url }}">
			    		<p><img alt="{{ page.title }}" class="scaled" src="{{ page.img }}"  ></p>			    	
			    	</a>
				</div>	
				<a href="{{ site.url }}{{ page.url }}">
					<p><h2><b>{{ page.title }}</b></h3></h2>
					<p>{{ page.date }} </p>
					<p>{{ page.description }}</p>
				</a>
			</div>
			<hr/>
	  	 {% endif %}	  
	  {% else %}
	  	{% break %}
	  {% endif %}
  {% endfor %}
</div>
</div>
{% include footer.html %}
</body>
</html>
