---
layout: compress
---
<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
{% include gnbhead.html %}
 <div class="search-content">
	{% include search_form.html %}
</div>
<div id="container" style="text-align: left;">
{% for page in site.pages %}
	  {% if forloop.index <= 30 %}
	  	{% if page.img != null %} 
	  	 <a href="{{ site.url }}{{ page.url }}" class="pad_size1"> - </a><br>
			<h3><b>{{ page.title }}</b></h3>
			<div class="section">
				<div class="figure">
			    	<p><img alt="{{ page.title }}" class="scaled" src="{{ page.img }}"  ></p>
			    	<p>{{ page.date }} </p>date
				</div>	
				<p>{{ page.description }}<p>
			</div>
			<hr/>
	  	 {% endif %}	  
	  {% else %}
	  	{% break %}
	  {% endif %}
  {% endfor %}
</div>
</div>
{% include footer.html %}
</body>
</html>
